.links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background-color: none;
}

.links img{
    width: 50px;
    height: 50px;
}

.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
    .links img{
        width: 40px;
        height: 40px;
    }

    .links a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 50px;
        height: 50px;
    }
}